<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otimização Linear</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <div class="header-1-1">
            <h1>Otimização Linear</h1>
        </div>
        <div class="header-1-2">
            <span>por Marcelo Ribeiro</span>
        </div>

    </div>
    
    <!-- 🔹 Body -->
    <div class="body">

        <div class="body-1">
            <div class="body-div-1-1">
                <div class="body-div-1-1-1">
                    <div class="body-div-1-1-1-1">
                        <span>Função Objetivo</span>
                    </div>
                    <div class="body-div-1-1-1-2">
                        <label>
                            <select id="objectiveType">
                                <option class="maximize-field" value="maximize">Maximizar</option>
                                <option value="minimize">Minimizar</option>
                            </select>
                        </label>
                    </div>
                </div>

                <textarea id="objectiveFunction" placeholder="Exemplo: 2x1+3x2"></textarea>
            </div>

            <div class="body-div-1-2">
                <div class="body-div-1-2-1">
                    <p>Restrições Técnicas</p>
    
                    <div id="constraints">
                        <div class="constraint">
                            <input type="text" placeholder="Exemplo: x1+x2<=10" class="con-restriction">
                        </div>
                    </div>
                    <button class="add-button" onclick="addConstraint()">+ Adicionar</button>
                </div>
    
                <div class="body-div-1-2-2">
                    <p>Restr. Não Negat.</p>
                    
                    <label class="checkbox-container">
                        x1 ≥ 0:
                        <input type="checkbox" id="nonNegativityX1" checked>
                        <span class="custom-checkbox"></span>
                    </label>
                    <br>
                    <label class="checkbox-container">
                        x2 ≥ 0:
                        <input type="checkbox" id="nonNegativityX2" checked>
                        <span class="custom-checkbox"></span>
                    </label>
                    <br>
                    <button class="solve-button" onclick="fetchResults()">Resolver</button>
                </div>
            </div>            

        </div>

        <div class="body-2">

            <div class="body-div-2-1">

                <div class=".body-div-2-1-1">
                    <h3>Pontos das Restrições</h3>
                    <div id="restrictionPoints"></div>
                </div>

                <div class=".body-div-2-1-2">
                    <h3>Resultados</h3>
                    <div id="result"></div>
                </div>

            </div>

            <div class="body-div-2-2">
                <div id="graphSection">
                    <img id="graph-image" src="" alt="Gráfico da Solução">
                </div>
            </div>
        </div>
    </div>


    {% csrf_token %}
    <script src="/static/script.js"></script>
</body>
</html>
